ansible==2.6.2
asn1crypto==0.24.0
awscli==1.15.66
boto3==1.5.22
boto==2.49.0
botocore==1.8.36
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
colorama==0.3.9
cryptography==2.1.4
docutils==0.14
enum34==1.1.6
futures==3.2.0
idna==2.6
ipaddress==1.0.19
Jinja2==2.9.6
jmespath==0.9.3
MarkupSafe==1.0
ntlm-auth==1.0.6
ordereddict==1.1
packaging==16.8
pandoc==1.0.0
paramiko==2.1.2
ply==3.11
py==1.4.33
pyasn1==0.2.3
pycparser==2.18
pycrypto==2.6.1
pyOpenSSL==17.0.0
pyparsing==2.2.0
pytest==3.0.7
python-dateutil==2.6.1
pywinrm==0.3.0
PyYAML==3.12
requests==2.18.4
requests-credssp==0.0.2
requests-ntlm==1.1.0
rsa==3.4.2
s3transfer==0.1.12
six==1.11.0
testinfra==1.6.2
urllib3==1.22
xmltodict==0.11.0
boto==2.49.0
